<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>Page Title</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./../public/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="https://www.google.com/" class="float-left">Google</a>
            <a href="https://www.yandex.ru/" class="float-right">Yandex</a>
        </div>

        <div class="content">
            <section>
                <article class="element">
                    <div class="img">
                        <img src="http://dummyimage.com/280" />
                    </div>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </article>
                <article class="element">
                    <div class="img">
                        <img src="http://dummyimage.com/280" />
                    </div>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </article>
                <article class="element">
                    <div class="img">
                        <img src="http://dummyimage.com/280" />
                    </div>
                    <div class="text">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                </article>
            </section>
        </div>

        <div class="footer">
            <a href="https://codabra.org/" class="logo">
                <img class="logo" src="https://codabra.org/static/img/logo.svg">
            </a>
            <p>&copy;JefferyWA<p>
        </div>
    </div>
</body>
</html>